@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@200;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Lexend Exa', sans-serif;
    font-weight: 200;
}
